@keyframes transitionUp {
  0% {
    transform: scale(0.9) translateY(60px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes transitionDown {
  0% {
    transform: scale(0.9) translateY(-60px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    background: rgba(234, 234, 234, 0.85);
  }
  100% {
    background: rgba(234, 234, 234, 0.15);
  }
}

@keyframes typewriter {
  from {
    max-width: 0.5ch;
  }
  to {
    max-width: 14.5ch;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes swooshInLeft {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  30% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes swooshOutLeft {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  30% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(20px);
    opacity: 0;
  }
}